@model IEnumerable<BookStore.Models.Order>

@{
    ViewData["Title"] = "GetOrder";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderPlaced)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderPlaced)
                </td>
                <td>
                    <a class="a-cleanup" asp-controller="Order" asp-action="GetOrderItem" asp-route-id=@item.Id>Xem</a>
                </td>
            </tr>
        }
    </tbody>
</table>
