@model BookStore.Models.Book

@{ 
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="row">
    <div class="col-5">
        <div>
            <h4>Book</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Author)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Author)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Language)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Language)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.ISBN)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ISBN)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.DatePublished)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.DatePublished)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.Id" class="btn btn-primary store-btn float-right mr-5"><i class="fa-solid fa-cart-plus"></i> Add to Cart</i></a>
            <a asp-action="Index" class="btn btn-warning"><i class="fa-solid fa-arrow-left"></i> Back</a>
            
        </div>
    </div>
    <div class="col-4">
        <img src="@Model.ImageUrl" class="w-100" />
    </div>
</div>
<div>
    <h4>Reviews</h4>
    <hr />
    @if (Model.Reviews.Any())
    {
        foreach (var review in Model.Reviews)
        {
            <div>
                <p>User: @review.UserId</p>
                <p>@review.Comment</p>
                <p>Rating: @review.Rating</p>
                <p>Created At: @review.CreatedAt</p>
                <hr />
            </div>
        }
    }
    else
    {
        <p>No reviews available.</p>
    }

</div>

<div>
    <h4>Add a Review</h4>
    <hr />
    <form asp-controller="Review" asp-action="AddReview" method="post">
        <input type="hidden" name="bookId" value="@Model.Id" />
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea name="comment" class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <label for="rating">Rating:</label>
            <input type="number" name="rating" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-success">Submit Review</button>
    </form>
</div>